<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/zk-app.log</file>
    <encoder>
        <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
    <append>true</append>
</appender>
<logger name="root" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
</logger>
